name: main

on:
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  main:
    if: github.repository == 'FlayaN/skyrim-mods'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github

      - run: cd mods/subtitles-NG
        shell: bash

      - uses: ./.github/actions/build-artifact-nexus
        with:
          configurePreset: ALL
          buildPreset: Release
