name: "Check Nexus credentials"

on:
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  nexus-check-auth:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github

      - uses: ./.github/actions/install-unex

      - name: Check nexus auth
        run: unex check --session-cookie ${{ secrets.NEXUSMODS_SESSION_COOKIE }} --api-key ${{ secrets.NEXUSMODS_API_KEY }}
