name: Refresh NexusMods Credentials

on:
  # schedule:
  #   - cron: "0 0 */10 * *"
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  nexus-refresh-cron:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github

      - uses: ./.github/actions/install-unex

      - name: Refresh NexusUploader credentials
        run: unex refresh --session-cookie ${{ secrets.NEXUSMODS_SESSION_COOKIE }}
